button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #e41313;
    color: #ffcc00;
  }

  .header {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: rgba(30, 4, 173, 0.7); /* Fondo semitransparente */
    padding: 5px 10px;
    border-radius: 5px;
  }

  .footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
  }