body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/download.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
