body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/457519f7-6383-4dc8-ad00-360ca706b8f7.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
