body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/1876d696-2d27-45da-b8b4-d4954e880b33.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
